.module {
  background: $white;
  padding: 10px;
  margin-bottom: 15px;

  .text-muted {
    font-weight: lighter;
  }

  .track-name, .artist-name {
    font-weight: bold;
  }
}


.appear.ng-enter, 
.appear.ng-leave
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space:nowrap;
} 
 
.appear.ng-leave-active,
.appear.ng-enter {
    opacity: 0;
    width: 0px;
    height: 0px;
}
 
.appear.ng-enter-active, 
.appear.ng-leave {
    opacity: 1;
    width: 150px;
    height: 30px;
}

.module-header {
  margin-top: 0;
}

.module-send {
  .form-control {
    @include placeholder($yellow-dark);

    background-color: $yellow;
    color: $white;
    font-style: italic;
  }

  .song-url {
    margin-bottom: 0;
  }

  .song-preview {
    margin-top: 15px;
  }

  .track-name {
    color: $yellow;
  }

  .send-song {
    padding: 5px 30px;
    font-weight: bold;
  }
}

.module-received {
  a, .track-name {
    color: $orange;
  }
}

.module-sent {
  table {
    margin-bottom: 0;

    tr:first-child td {
      border-top: 0;
    }
  }

  .song-counter {
    width: 5%;
    vertical-align: middle;
  }

  .track-name {
    color: $blue;
  }
}