.tags {
  padding: 6px 12px;
  font-style: italic;
}

.tag-name {
  color: $white;
}

.module-send {
  .tags {
    background-color: $yellow;
    color: $yellow-dark;
    margin-bottom: 15px;
  }

  .new-tag {
    @include placeholder($yellow-dark);
  }
}

.module-preferences {
  .tags {
    background-color: $purple;
    color: $purple-dark;
    margin-bottom: 15px;
  }

  .new-tag {
    @include placeholder($purple-dark);
  }
}

.new-tag {
  border: 0;
  background: transparent;
  color: $yellow-dark;
  font-style: italic;
}