/* semantic color names */
$blue: #0091A0;
$green:  #62c193;
$purple: #8d7aae;
$purple-dark: #584b6f;
$orange: #e86243;
$yellow: #f69944;
$yellow-dark: #8f5921;
$black:  #414042;
$gray-light: #808285;
$gray-lighter: #bcbec0;
$white: #fff;

/* fonts */
$font-family-sans-serif: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-base: 17px;
$headings-font-weight: 600;

/* brand colors */
$brand-primary: $black;
$brand-success: $green;
$brand-warning: $yellow;
$brand-danger:  $orange;
$brand-info:    $purple;

/* body */
$body-bg: $green;

/* navbar */
$navbar-default-bg: $green;
$navbar-default-color: $white;
$navbar-default-link-color: $white;
$navbar-default-link-hover-color: $white;
$navbar-default-brand-hover-color: $white;

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;