.navbar {
  border-color: $white;
  border-bottom-width: 2px;
  text-transform: lowercase;
}

.form-control {
  border: 0;
}

button {
  border: 0;
}

h3, .h3 {
  font-size: 25px;
}

h4, .h4 {
  font-size: 20px;
}